{% load basic_concepts %}

<!--TOP HASH-->
<div class="hash_blocks_wrapper">
    <div class="hash_block" style="justify-content: center; align-items: center;">
        <span style="color: #ffffff; font-size: 17.2px;">TOP HASH (H1234)</span>
        <small style="color: silver; font-size: 12.5px;">Hash value of blocks H12 & H34:</small><br>
        <small style="color:#ffffff; font-size: 15.6px; ">{% top_hash  data_block_1|sha256 data_block_2|sha256 data_block_3|sha256 data_block_4|sha256 %}</small>
    </div>
</div>

<!--HASH BLOCKS LAYER 2-->
<div class="hash_blocks_wrapper">
    <div class="hash_block">
        <div style="display: flex; flex-direction: column;">
            <span style="color: #ffffff; font-size: 17.2px;">(H12)</span>
            <small style="color: silver; font-size: 12.5px;">Hash value of H1 & H2:</small>
        </div>
        <br>
        <small style="color:#ffffff; font-size: 15.6px; ">{% join_and_hash  data_block_1|sha256 data_block_2|sha256 %}</small>
    </div>
    <div class="hash_block">
        <div style="display: flex; flex-direction: column;">
            <span style="color: #ffffff; font-size: 17.2px;">(H34)</span>
            <small style="color: silver; font-size: 12.5px;">Hash value of H3 & H4:</small>
        </div>
        <br>
        <small style="color:#ffffff; font-size: 15.6px; ">{% join_and_hash  data_block_3|sha256 data_block_4|sha256 %}</small>
    </div>
</div>

<!--HASH BLOCKS LAYER 1-->
<div class="hash_blocks_wrapper">
    <div class="hash_block">
        <div style="display: flex; flex-direction: column;">
            <span style="color: #ffffff; font-size: 17.2px;">(H1)</span>
            <small style="color: silver; font-size: 12.5px;">Hash value of leaf node 1:</small>
        </div>
        <br>
        <small style="color:#ffffff; font-size: 15.6px; ">{{data_block_1|sha256|safe}}</small>
    </div>
    <div class="hash_block">
        <div style="display: flex; flex-direction: column;">
            <span style="color: #ffffff; font-size: 17.2px;">(H2)</span>
            <small style="color: silver; font-size: 12.5px;">Hash value of leaf node 2:</small>
        </div>
        <br>
        <small style="color:#ffffff; font-size: 15.6px; ">{{data_block_2|sha256|safe}}</small>
    </div>
    <div class="hash_block">
        <div style="display: flex; flex-direction: column;">
            <span style="color: #ffffff; font-size: 17.2px;">(H3)</span>
            <small style="color: silver; font-size: 12.5px;">Hash value of leaf node 3:</small>
        </div>
        <br>
        <small style="color:#ffffff; font-size: 15.6px; ">{{data_block_3|sha256|safe}}</small>
    </div>
    <div class="hash_block">
        <div style="display: flex; flex-direction: column;">
            <span style="color: #ffffff; font-size: 17.2px;">(H4)</span>
            <small style="color: silver; font-size: 12.5px;">Hash value of leaf node 4:</small>
        </div>
        <br>
        <small style="color:#ffffff; font-size: 15.6px; ">{{data_block_4|sha256|safe}}</small>
    </div>
</div>

<!--DATA BLOCKS-->
<div class="data_blocks_wrapper">
    <div class="data_block">
        <small style="font-size: 17.2px;">Leaf node 1</small>
        <small style="color: silver; font-size: 12.5px;">Length : {{data_block_1|length}}</small><br>
        <small>{{data_block_1}}</small>

    </div>
    <div class="data_block">
        <small style="font-size: 17.2px;">Leaf node 2</small>
        <small style="color: silver; font-size: 12.5px;">Length : {{data_block_2|length}}</small><br>
        <small>{{data_block_2}}</small>
    </div>
    <div class="data_block">
        <small style="font-size: 17.2px;">Leaf node 3</small>
        <small style="color: silver; font-size: 12.5px;" >Length : {{data_block_3|length}}</small><br>
        <small>{{data_block_3}}</small>
    </div>
    <div class="data_block">
        <small style="font-size: 17.2px;">Leaf node 4</small>
        <small style="color: silver; font-size: 12.5px;" >Length : {{data_block_4|length}}</small><br>
        <small>{{data_block_4}}</small>
        
    </div>
</div>


