{% extends 'basic_concepts/base.html' %}
{% load static %}
{% load basic_concepts %}

{% block title%}
<title>Merkle Trees</title>
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'basic_concepts/css/merkle_trees.css' %}">
{% endblock %}


{% block main %}
{% include 'basic_concepts/navigation/navigation.html' %}

<div class="container">
    <form id="message_form">
        {% csrf_token %}
            <input id="data_block_1_input" name="data_block_1_input" placeholder="Insert leaf node 1 content..." autocomplete="off">
            <input id="data_block_2_input" name="data_block_2_input" placeholder="Insert leaf node 2 content..." autocomplete="off">
            <input id="data_block_3_input" name="data_block_3_input" placeholder="Insert leaf node 3 content..." autocomplete="off">
            <input id="data_block_4_input" name="data_block_4_input" placeholder="Insert leaf node 4 content..." autocomplete="off">
    </form>
</div>

<div class="container" style="margin-top: 30px;">
    <div id="merkle_trees_container">
        {% include 'basic_concepts/merkle_trees/ajax_merkle_trees.html' %}
    </div>

    <h6 style="color: #2D2F31; width: 100%; text-align: end; margin-top: 35px; font-size: 11.5px;">Hash algorithm used : SHA256</h6>
</div>

{% endblock %}


{% block scripts %}
<script>
    $('#data_block_1_input , #data_block_2_input , #data_block_3_input , #data_block_4_input').keyup(function () {
        let serializedData = $("#message_form").serialize()
        // create an AJAX call
        $.ajax({
            url: "{% url 'ajax_merkle_trees' %}",
            data: serializedData, // get the form data
            type: 'post',
            // on success
            success: function (data) {
                $('#merkle_trees_container').html(data);
            },
            // on error
            error: function (data) {
                // alert the error if any error occured
            }
        });
    });
</script>
{% endblock %}


