<div id="sidebar">
    <a href="{% url 'index' %}"><h5 class="link" id="homepage_link">HOMEPAGE</h5></a>
    <a href="{% url 'hash_functions' %}"><h5 class="link" id="hash_functions_link">HASH FUNCTIONS</h5></a>
    <a href="{% url 'merkle_trees' %}"><h5 class="link" id="merkle_trees_link">MERKLE TREES</h5></a>
    <a href="{% url 'mining_simulation' %}"><h5 class="link" id="mining_simulation_link">MINING SIMULATION</h5></a>
</div>

<div id="openSidebar">
    <div id="openSidebarInner">
        <i class="fas fa-bars"></i>
    </div>
</div>

<div id="closeSidebar">
    <div id="closeSidebarInner">
        <i class="fas fa-times"></i>
    </div>
</div>

