<div id="sidebar">
    <a href="{% url 'index' %}"><h5 class="link" id="navlink_home">HOME</h5></a>
    <a href="{% url 'hash_functions' %}"><h5 class="link">HASH FUNCTIONS</h5></a>
    <a href="{% url 'merkle_trees' %}"><h5 class="link">MERKLE TREES</h5></a>
    <a href="{% url 'mining_simulation' %}"><h5 class="link">MINING SIMULATION</h5></a>
</div>

<div id="openSidebar">
    <div id="openSidebarInner">
        <i class="fas fa-bars"></i>
    </div>
</div>

<div id="closeSidebar">
    <div id="closeSidebarInner">
        <i class="fas fa-times"></i>
    </div>
</div>

