body{
    min-height: 100vh;
    width: 100%;
    margin: 0;
    background: #242526;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

#homepage_link{
    color: #ffffff;
}